<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        table,th,td{
            border: solid 1px;
        }
        h1,th{
            color: red;
        }
    </style>
</head>

<body>
    <h1>Game of Thrones</h1>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Publish Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in page_obj  %}
             <tr>
                <td><b>{{post.title}}</b></td>
                <td><p>{{post.desc | truncatewords:30}} <a href="{% url 'post' post.id %}">Read More</a> </p></td>
                <td>{{post.publish_date}}</td>
             </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            <span>page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>

</body>

</html>